doctype html
html
 include partials/head
  body.page-wrapper
    div#header-wrapper.wrapper
      include partials/header
    block content
    div#footer-wrapper.wrapper
      include partials/footer