#header-wrapper
  a.show-for-medium-down.show-for-portrait.left-off-canvas-toggle(href="#") Menu
    nav#nav-small.left-off-canvas-menu(role="navigation")
      ul.off-canvas-list
        li.active
          a(href="#") Home
        li
          a(href="#") About Us
        li
          a(href="#") IG Search
        li
          a(href="#") Comments
  .row.show-for-medium-up.show-for-landscape
    .small-12.medium-12.large-12.columns
      //#logo
      //  h1 Think It, Build It, Deploy It!!!
      //  p Lorem ipsum dolor sit amet, ei pri amet eros rebum, et dolor perfecto eloquentiam eos. Vim at posse populo, natum primis posidonium qui no, ex vis natum aeterno tibique. Eum scaevola menandri platonem ei. Est tale apeirian no, at pro placerat facilisis. Te qui esse homero discere. Ut prompta eligendi qui, sed cibo velit audiam ad, nonumes evertitur vix ne.
      .contain-to-grid
        nav#nav-section.top-bar(role="navigation", data-topbar)
          section.top-bar-section
            ul
              li.medium-3.large-3.active
                a(href="#") Home
              li.medium-3.large-3
                a(href="#") About Us
              li.medium-3.large-3
                a(href="#") IG Search
              li.medium-3.large-3
                a(href="#") Comments