#header-wrapper
  a.show-for-medium-down.show-for-portrait.left-off-canvas-toggle(href="#")
    i(style="padding-left: 5px;").fa.fa-bars.fa-2x
    nav#nav-small.left-off-canvas-menu(role="navigation")
      ul.off-canvas-list
        li.active
          a(href="/") Home
        li
          a(href="/about-us") About Us
        li
          a(href="#") IG Search
        li
          a(href="#") Comments
  .row.show-for-large-up.show-for-landscape
    .small-12.medium-12.large-12.columns
      .contain-to-grid
        nav#nav-section.top-bar(role="navigation", data-topbar)
          section.top-bar-section
            ul
              li.medium-3.large-3.active
                a(href="/") Home
              li.medium-3.large-3
                a(href="/about-us") About Us
              li.medium-3.large-3
                a(href="#") IG Search
              li.medium-3.large-3
                a(href="#") Comments