head
  title= title
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width", initial-scale="1")
  link(rel='stylesheet', href='/bower_components/foundation/css/foundation.css')
  link(rel='stylesheet', href='/bower_components/foundation/css/foundation.css.map')
  link(rel='stylesheet', href='/bower_components/foundation/css/normalize.css')
  link(rel='stylesheet', href='/bower_components/foundation/css/normalize.css.map')
  link(rel='stylesheet', href='/stylesheets/header.css')
  link(rel='stylesheet', href='/stylesheets/footer.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src="/bower_components/modernizr/bin/modernizr")