.off-canvas-wrap(data-off-canvas)
#header.inner-wrap
  a.left-off-canvas-toggle(href="#") Menu
    #logo
      h1
        a(href="#") Think It, Build It, Deploy It
      p The Coolest Web Development Apprenticeship
    nav#nav.left-off-canvas-menu
      ul
        li.active
          a(href="#") Home
        li
          a(href="#") About Us
        li
          a(href="#") IG Search
        li
          a(href="#") Comments
  a.exit-off-canvas