head
  title= title
  meta(http-equiv="content-type", content="#{contentType}; charset=utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
  meta(name="viewport", content="width=device-width", initial-scale="1")
  link(rel='stylesheet', href='bower_components/foundation/css/normalize.css')
  link(type='application/json', href='bower_components/foundation/css/normalize.css.map')
  link(rel='stylesheet', href='bower_components/foundation/css/foundation.css')
  link(type='application/json', href='bower_components/foundation/css/foundation.css.map')
  script(src="bower_components/foundation/js/vendor/modernizr.js")
  link(rel='stylesheet', href='/stylesheets/main.css')
  link(rel='stylesheet', href='/stylesheets/header-style.css')
  //link(rel='stylesheet', href='/stylesheets/style.css')
