script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/jquery.cookie/jquery.cookie.js")
script(src="/bower_components/jquery-placeholder/jquery.placeholder.js")
script(src="/bower_components/foundation/js/foundation.js")
