

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.wrapper {
  position: relative;
  
}

/**
 *  Device Breakpoints
 *
 **/

/*Desktop*/
@media (min-width: 737px) {
  body{
    min-width: 1200px;
    background-color: firebrick;
  }
}
/*Tablet*/
@media (min-width: 737px ) and (max-width: 1200px){
  body {
    min-width: 1000px;
    background-color: #ffff00;
  }
  
  #header {
    padding: 10em 0;
  }
  
  #header-wrapper {
    
  }

  #logo {
    margin-top: -0.5em !important;
  }

  #logo h1 {
    font-size: 1.75em;
  }
}
/*Mobile*/
@media (max-width: 736px){
  html, body{
    overflow-x: hidden;  
  }
  
  body{
    width: 100%;
    background-color: tomato;
  }

  #page-wrapper {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    padding-bottom: 1px;
  }
}